@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Inter', Arial;
}


body {
    overflow-y: hidden;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.login {
    width: 384px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.logo-riot-games img {
    width: 150px;
}

.login fieldset {
    width: 20vw;
    border: none;

    text-align: center;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between ;
}

.login fieldset legend {
    font-weight: 700;

    margin-bottom: .5rem;
    color: #2C2B2B;
}


.login fieldset form {
    height: 19vh;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between ;
}

#input-text {
    width: 20vw;
    height: 8vh;

    border-radius: 3px;
    border: none;
    outline: none;
    background: #E8E6E6;
    padding-left: 1rem;
}

#input-password {
    width: 20vw;
    height: 8vh;

    border-radius: 3px;
    border: none;
    outline: none;
    background: #E8E6E6;
    padding-left: 1rem;
}

.login-social-medias {
    width: 20vw;
    height: 15vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.facebook {
    width: 80px;
    height: 35px;
    border-radius: 5px;
    background: #2051FF;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.facebook img {
    width: 30px;
}

.gmail {
    width: 80px;
    height: 35px;

    border-radius: 5px;
    background: #8A0000;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.gmail img {
    width: 30px;
}

.apple {
    width: 80px;
    height: 35px;

    border-radius: 5px;
    background: #000000;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.apple img {
    width: 30px;
}

.radio-login{
    width: 20vw;
}

.radio-login input{
    accent-color: #FF002E;
    cursor: pointer;
}

.radio-login label{
    font-weight: 700;
}

.prosseguir-login{
    width: 20vw;
    height: 13vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

button {
    width: 35px;
    height: 35px;
    border-radius: 5px;

    background: #ffa9b9;
    
    cursor: pointer;
    border: none;
}

.btnArrowDisable{
    width: 30px;
}

.prosseguir-login a{
    color: #A6A6A6;

    text-decoration: none;
    font-size: .8rem;
}

.prosseguir-login a:hover{
    transition: .2s ease-in;
    color: #727272;
}

.background {
    width: 75vw;
    height: 100vh;

    background: url(assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

}


@media(max-width: 1000px){
    .login {
        width: 500px;
    }

    #input-text {
        width: 270px;
    }

    #input-password {
        width: 270px;
    }

    .login-social-medias {
        width: 270px;
    }

    .prosseguir-login{
        width: 40vw;
    }

}

@media(max-width: 580px){
    .radio-login{
        width: 30vw;
    }
}


@media(max-width: 500px){

    #input-text {
        width: 75vw;

    }
    
    #input-password {
        width: 75vw;
    }

    .radio-login{
        width: 40vw;
    }

    .login-social-medias {
        width: 75vw;
    }

    .prosseguir-login{
        width: 75vw;
    }

    .login {
        width: 100vw;
    }
    

    .background {
        display: none;
    }
}

@media(max-width: 350px){

    .login-social-medias {
        height: 30vh;
        
        flex-direction: column;
    }

    .gmail {
        width: 75vw;
    }

    .facebook {
        width: 75vw;
    }

    .apple {
        width: 75vw;
    }
    
}